body{
    background-color: #282c34;
    color: aliceblue;
    overflow-y: scroll;
  }
  .prodacts{
    width:250px;
    height: 150px;
  }

  .prodacts:hover{
    background-color: antiquewhite;
    color: black;
    cursor: pointer
  }

